.card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-overflow: ellipsis;
}

.card {
    width: 25rem;
    height: 24rem;
    margin-bottom: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    
    &-img-top {
        background-color: rgb(187, 187, 187);
        height: 11rem;
    }
    &-body {
        height: 13rem;
        background-color: $c-grey;

        &-head {
            height: 40px;
            width: 100%;
            margin-bottom: 10px;
            white-space: nowrap;

        }
        h1 {
            margin-bottom: 0;
            font-weight: 400;
            font-size: 20px;
        }

        // clock icon
        .fa-regular {
            font-size: 20px;
            font-weight: 500;

        }
        .recipe-time {
            font-weight: 600;
            margin-left: 5px;
            font-size: 18px;
        }
    }

    &__title {
        overflow: hidden;
        max-width: 300px;
        text-overflow: ellipsis;
        &-side {
            display: flex;
            align-items: center;
            padding-left: 18px;    
        }
    }

    &__dscr {
        display: flex;
        justify-content: space-between;
        line-height: 1.2;
        max-height: 8rem;
        overflow: hidden;
        li {
            list-style: none;
        }
    }


    .ingredients__container {
        line-height: 1;
        span {
            font-size: 10px;
            white-space: nowrap;
        }
    }
    .recipe-content {
        font-size: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.no-match {
    display: none;
}

.no-match.active {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
