.filters {
    display: flex;
    @media screen and (max-width: 768px) {
        margin: 0;
    }

    // filter wraps 
    &-wrap {
        position: relative;
        margin-bottom: 2rem;
        &.active {
            width: 30rem;
            @media screen and (max-width: 768px) {
                width: 100%;
                min-width: none;
            }
        }
        //filters-wrap__input : 3 inputs common style
        &__input {
            top: 0;
            border-radius: 5px;
            border: none;
            height: 4.5rem;
            // same width as filters-wrap__label-wrap
            width: 171px;
            cursor: pointer;
            padding-left: 1rem;
            color: $c-white;
            &::placeholder {
                color: transparent;
            }
            &.active {
                @include filter-input-active;
                &::placeholder {
                    @include filter-placeholder;
                }
                &:focus::placeholder{
                    color: transparent;
                }
            }
            @media screen and (max-width: 1100px) {
                width: 153px;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
        // label wrap
        &__label-wrap {
            position: absolute;
            display: flex;
            align-items: center;
            top: 0;
            justify-content: space-between;
            color: $c-white;
            height: 4.5rem;
            padding: 21px;
            width: 171px;
            cursor: pointer;
            &.active {
                display: none;
            }
            // filters-wrap__label-wrap mediaquary
            @media screen and (max-width: 1100px) {
                width: 153px;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
                padding-left: 1rem;
                padding-right: 2rem;
            }
        }
        // <p> label
        &__label {
            margin-bottom: 0;
        }

    // elements container
    .list-container {
        display: none;
        span {
            cursor: pointer;
        }
    }

    // filters-wrap mediaquery
    @media screen and (max-width: 768px) {
        margin-bottom: 1rem;
        padding: 0;
    }
}
// each input styles
    .ingredient-input {
        background-color:#3282F7;
    }

    .appliance-input {
        background-color:#68D9A4;
    }
    .utensil-input {
        background-color:#ED6454;
    }

    .ing-input-icon,
    .app-input-icon,
    .uten-input-icon {
        display: none;
    }
}

/**************
active classes
***************/ 

// list containers
.ingredient__container.active{
    @include filter-list-active($c-ingredeint);
}
.appliance__container.active{
    @include filter-list-active($c-appliance);
}

.utensil__container.active {
    @include filter-list-active($c-utensil);
}

// icons
.ing-input-icon.active,
.app-input-icon.active,
.uten-input-icon.active {
    display: block;
    position: absolute;
    color: $c-white;
    top: 27px;
    right: 31px;
}
