.filters {
    display: flex;
    // filter wraps 
    &-wrap {
        margin-right: 1rem;
        position: relative;
        margin-bottom: 2rem;
        &__input {
            top: 0;
            border-radius: 5px;
            border: none;
            height: 4.5rem;
            width: 10rem;
            cursor: pointer;
            padding-left: 1rem;
            &::placeholder {
                color: transparent;
            }
        }
        // label wrap
        &__label-wrap {
            position: absolute;
            display: flex;
            align-items: center;
            top: 0;
            justify-content: space-between;
            color: #fff;
            height: 4.5rem;
            padding: 21px;
            width: 10rem;
            cursor: pointer;
        }
        // <p> label
        &__label {
            margin-bottom: 0;
        }

    }
// each input styles
    .ingredient-input {
        background-color:#3282F7;
        color: $c-white;
        &.active {
            width: 100%;
            border-radius: 5px 5px 0 0;
            &::placeholder {
                color: $c-white;
                opacity: 0.5;
            }
            &:focus::placeholder{
                color: transparent;
            }
        }
    }

    .appareil-input {
        background-color:#68D9A4;
        color: $c-white;
        &.active {
            width: 100%;
            border-radius: 5px 5px 0 0;
            &::placeholder {
                color: $c-white;
                opacity: 0.5;
                padding-left: 1rem;
            }
            &:focus::placeholder{
                color: transparent;
            }
        }
    }
    .utensils-input {
        background-color:#ED6454;
        color: $c-white;
        &.active {
            width: 100%;
            border-radius: 5px 5px 0 0;
            &::placeholder {
                color: $c-white;
                opacity: 0.5;
                padding-left: 1rem;
            }
            &:focus::placeholder{
                color: transparent;
            }
        }
    }

    // elements container
    .list-container {
        display: none;
    }

    .ing-input-icon,
    .app-input-icon,
    .uten-input-icon {
        display: none;
    }
}



// input display control 
// when clicked -> 'active' class is added.

// individual filter container

.filters__ingredient.active,
.filters__appareils.active,
.filters__utensils.active {
width: 35rem;
}

// label on input
.ing-label.active,
.app-label.active,
.uten-label.active {
    display: none;
}


// list containers
.ingredient__container.active{
    display: flex;
    width: inherit;
    max-height: 20rem;
    background-color: #3282F7;
    overflow: scroll;
    position: absolute;
    z-index: 9999;
    left: 12px;
    border-radius: 0 0 5px 5px;
    &::-webkit-scrollbar { background: none; width: 0; }
    span {
        color: $c-white;
        font-size: 12px;
    }
}
.appliance__container.active{
    display: flex;
    width: inherit;
    max-height: 20rem;
    background-color: #68D9A4;
    overflow: scroll;
    position: absolute;
    z-index: 9999;
    left: 12px;
    border-radius: 0 0 5px 5px;
    &::-webkit-scrollbar { background: none; width: 0; }
    span {
        color: $c-white;
        font-size: 12px;
    }
}

.utensil__container.active {
    display: flex;
    width: inherit;
    max-height: 20rem;
    background-color: #ED6454;
    overflow: scroll;
    position: absolute;
    z-index: 9999;
    left: 12px;
    border-radius: 0 0 5px 5px;
    &::-webkit-scrollbar { background: none; width: 0; }
    span {
        color: $c-white;
        font-size: 12px;
    }
}

// icons
.ing-input-icon.active,
.app-input-icon.active,
.uten-input-icon.active {
    display: block;
    position: absolute;
    color: $c-white;
    top: 27px;
    right: 17px;
}
