.filters {
  display: flex;
}
.filters-wrap {
  margin-right: 1rem;
  position: relative;
  margin-bottom: 2rem;
}
.filters-wrap__input {
  top: 0;
  border-radius: 5px;
  border: none;
  height: 4.5rem;
  width: 10rem;
  cursor: pointer;
  padding-left: 1rem;
}
.filters-wrap__input::-moz-placeholder {
  color: transparent;
}
.filters-wrap__input:-ms-input-placeholder {
  color: transparent;
}
.filters-wrap__input::placeholder {
  color: transparent;
}
.filters-wrap__label-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: space-between;
  color: #fff;
  height: 4.5rem;
  padding: 21px;
  width: 10rem;
  cursor: pointer;
}
.filters-wrap__label {
  margin-bottom: 0;
}
.filters .ingredient-input {
  background-color: #3282F7;
  color: #fff;
}
.filters .ingredient-input.active {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.filters .ingredient-input.active::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .ingredient-input.active:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .ingredient-input.active::placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .ingredient-input.active:focus::-moz-placeholder {
  color: transparent;
}
.filters .ingredient-input.active:focus:-ms-input-placeholder {
  color: transparent;
}
.filters .ingredient-input.active:focus::placeholder {
  color: transparent;
}
.filters .appareil-input {
  background-color: #68D9A4;
  color: #fff;
}
.filters .appareil-input.active {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.filters .appareil-input.active::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .appareil-input.active:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .appareil-input.active::placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .appareil-input.active:focus::-moz-placeholder {
  color: transparent;
}
.filters .appareil-input.active:focus:-ms-input-placeholder {
  color: transparent;
}
.filters .appareil-input.active:focus::placeholder {
  color: transparent;
}
.filters .utensil-input {
  background-color: #ED6454;
  color: #fff;
}
.filters .utensil-input.active {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.filters .utensil-input.active::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .utensil-input.active:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .utensil-input.active::placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .utensil-input.active:focus::-moz-placeholder {
  color: transparent;
}
.filters .utensil-input.active:focus:-ms-input-placeholder {
  color: transparent;
}
.filters .utensil-input.active:focus::placeholder {
  color: transparent;
}
.filters .list-container {
  display: none;
}
.filters .list-container span {
  cursor: pointer;
}
.filters .ing-input-icon,
.filters .app-input-icon,
.filters .uten-input-icon {
  display: none;
}

.filters__ingredient.active,
.filters__appareil.active,
.filters__utensil.active {
  width: 35rem;
}

.ing-label.active,
.app-label.active,
.uten-label.active {
  display: none;
}

.ingredient__container.active {
  display: flex;
  width: inherit;
  max-height: 20rem;
  background-color: #3282F7;
  overflow: scroll;
  position: absolute;
  z-index: 9999;
  left: 12px;
  border-radius: 0 0 5px 5px;
}
.ingredient__container.active::-webkit-scrollbar {
  background: none;
  width: 0;
}
.ingredient__container.active span {
  color: #fff;
  font-size: 12px;
}

.appareil__container.active {
  display: flex;
  width: inherit;
  max-height: 20rem;
  background-color: #68D9A4;
  overflow: scroll;
  position: absolute;
  z-index: 9999;
  left: 12px;
  border-radius: 0 0 5px 5px;
}
.appareil__container.active::-webkit-scrollbar {
  background: none;
  width: 0;
}
.appareil__container.active span {
  color: #fff;
  font-size: 12px;
}

.utensil__container.active {
  display: flex;
  width: inherit;
  max-height: 20rem;
  background-color: #ED6454;
  overflow: scroll;
  position: absolute;
  z-index: 9999;
  left: 12px;
  border-radius: 0 0 5px 5px;
}
.utensil__container.active::-webkit-scrollbar {
  background: none;
  width: 0;
}
.utensil__container.active span {
  color: #fff;
  font-size: 12px;
}

.ing-input-icon.active,
.app-input-icon.active,
.uten-input-icon.active {
  display: block;
  position: absolute;
  color: #fff;
  top: 27px;
  right: 17px;
}

.tag-container {
  margin-bottom: 1rem;
  display: flex;
}
.tag-container .tag {
  padding: 10px 18px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  margin-right: 8px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tag-container .tag-item {
  margin-right: 10px;
}
.tag-container .tag i {
  font-size: 18px;
  color: #fff;
}
.tag-container .ingredient-tag {
  background-color: #3282F7;
}
.tag-container .appliance-tag {
  background-color: #68D9A4;
}
.tag-container .utensil-tag {
  background-color: #ED6454;
}

#header img {
  max-width: 12rem;
  margin: 2rem 0 1rem 0;
}
#header .input-group {
  position: relative;
}
#header #input-form {
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #e7e7e7;
  height: 4rem;
  border: none;
}
#header #input-form::-moz-placeholder {
  opacity: 25%;
  font-size: 14px;
  margin-left: 10px;
}
#header #input-form:-ms-input-placeholder {
  opacity: 25%;
  font-size: 14px;
  margin-left: 10px;
}
#header #input-form::placeholder {
  opacity: 25%;
  font-size: 14px;
  margin-left: 10px;
}
#header #search-magnify {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  z-index: 10;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-overflow: ellipsis;
}

.card {
  width: 25rem;
  height: 24rem;
  margin-bottom: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}
.card-img-top {
  background-color: rgb(187, 187, 187);
  height: 11rem;
}
.card-body {
  height: 13rem;
  background-color: #e7e7e7;
}
.card-body-head {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  white-space: nowrap;
}
.card-body h1 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
}
.card-body .fa-regular {
  font-size: 20px;
  font-weight: 500;
}
.card-body .recipe-time {
  font-weight: 600;
  margin-left: 5px;
  font-size: 18px;
}
.card__title {
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
}
.card__title-side {
  display: flex;
  align-items: center;
  padding-left: 18px;
}
.card__dscr {
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  max-height: 8rem;
  overflow: hidden;
}
.card__dscr li {
  list-style: none;
}
.card .ingredients__container {
  line-height: 1;
}
.card .ingredients__container span {
  font-size: 10px;
  white-space: nowrap;
}
.card .recipe-content {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-match {
  display: none;
}

.no-match.active {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}