.filters {
  display: flex;
}
.filters-wrap {
  margin-right: 1rem;
  position: relative;
  margin-bottom: 2rem;
}
.filters-wrap__input {
  top: 0;
  border-radius: 5px;
  border: none;
  height: 4.5rem;
  width: 10rem;
  cursor: pointer;
  padding-left: 1rem;
}
.filters-wrap__input::-moz-placeholder {
  color: transparent;
}
.filters-wrap__input:-ms-input-placeholder {
  color: transparent;
}
.filters-wrap__input::placeholder {
  color: transparent;
}
.filters-wrap__label-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: space-between;
  color: #fff;
  height: 4.5rem;
  padding: 21px;
  width: 10rem;
  cursor: pointer;
}
.filters-wrap__label {
  margin-bottom: 0;
}
.filters .ingredient-input {
  background-color: #3282F7;
  color: #fff;
}
.filters .ingredient-input.active {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.filters .ingredient-input.active::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .ingredient-input.active:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .ingredient-input.active::placeholder {
  color: #fff;
  opacity: 0.5;
}
.filters .ingredient-input.active:focus::-moz-placeholder {
  color: transparent;
}
.filters .ingredient-input.active:focus:-ms-input-placeholder {
  color: transparent;
}
.filters .ingredient-input.active:focus::placeholder {
  color: transparent;
}
.filters .appareil-input {
  background-color: #68D9A4;
  color: #fff;
}
.filters .appareil-input.active {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.filters .appareil-input.active::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
  padding-left: 1rem;
}
.filters .appareil-input.active:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
  padding-left: 1rem;
}
.filters .appareil-input.active::placeholder {
  color: #fff;
  opacity: 0.5;
  padding-left: 1rem;
}
.filters .appareil-input.active:focus::-moz-placeholder {
  color: transparent;
}
.filters .appareil-input.active:focus:-ms-input-placeholder {
  color: transparent;
}
.filters .appareil-input.active:focus::placeholder {
  color: transparent;
}
.filters .utensils-input {
  background-color: #ED6454;
  color: #fff;
}
.filters .utensils-input.active {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.filters .utensils-input.active::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
  padding-left: 1rem;
}
.filters .utensils-input.active:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
  padding-left: 1rem;
}
.filters .utensils-input.active::placeholder {
  color: #fff;
  opacity: 0.5;
  padding-left: 1rem;
}
.filters .utensils-input.active:focus::-moz-placeholder {
  color: transparent;
}
.filters .utensils-input.active:focus:-ms-input-placeholder {
  color: transparent;
}
.filters .utensils-input.active:focus::placeholder {
  color: transparent;
}
.filters .list-container {
  display: none;
}
.filters .ing-input-icon,
.filters .app-input-icon,
.filters .uten-input-icon {
  display: none;
}

.filters__ingredient.active,
.filters__appareils.active,
.filters__utensils.active {
  width: 35rem;
}

.ing-label.active,
.app-label.active,
.uten-label.active {
  display: none;
}

.ingredient__container.active,
.appareil__container.active,
.utensil__container.active {
  display: flex;
  width: inherit;
  max-height: 20rem;
  background-color: #3282F7;
  overflow: scroll;
  position: absolute;
  z-index: 9999;
  left: 12px;
  border-radius: 0 0 5px 5px;
}
.ingredient__container.active::-webkit-scrollbar,
.appareil__container.active::-webkit-scrollbar,
.utensil__container.active::-webkit-scrollbar {
  background: none;
  width: 0;
}
.ingredient__container.active span,
.appareil__container.active span,
.utensil__container.active span {
  color: #fff;
  font-size: 12px;
}

.ing-input-icon.active,
.app-input-icon.active,
.uten-input-icon.active {
  display: block;
  position: absolute;
  color: #fff;
  top: 27px;
  right: 17px;
}

#header img {
  max-width: 12rem;
  margin: 2rem 0 1rem 0;
}
#header .input-group {
  position: relative;
}
#header #input-form {
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #e7e7e7;
  height: 4rem;
  border: none;
}
#header #input-form::-moz-placeholder {
  opacity: 25%;
  font-size: 14px;
  margin-left: 10px;
}
#header #input-form:-ms-input-placeholder {
  opacity: 25%;
  font-size: 14px;
  margin-left: 10px;
}
#header #input-form::placeholder {
  opacity: 25%;
  font-size: 14px;
  margin-left: 10px;
}
#header #search-magnify {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  z-index: 10;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-overflow: ellipsis;
}

.card {
  width: 25rem;
  height: 24rem;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-img-top {
  background-color: rgb(187, 187, 187);
  height: 11rem;
}
.card-body {
  height: 13rem;
}
.card-body-head {
  height: 3rem;
  margin-bottom: 10px;
}
.card-body h1 {
  margin-bottom: 0;
  font-size: 20px;
}
.card__dscr {
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
}
.card__dscr li {
  list-style: none;
}
.card .ingredients__container {
  width: 45%;
}
.card .ingredients__container span {
  font-size: 12px;
}
.card .recipe-content {
  width: 50%;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}