@mixin filter-input-active {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

@mixin filter-list-active($background-color) {
    display: flex;
    width: inherit;
    max-height: 20rem;
    background-color: $background-color;
    overflow: scroll;
    position: absolute;
    z-index: 9999;
    left: 12px;
    border-radius: 0 0 5px 5px;
    // scroll bar
    &::-webkit-scrollbar { 
        background: none; 
        width: 0;
    }
    // list elements
    span {
        color: $c-white;
        font-size: 12px;
        &.active {
            color: $c-grey;
        }
    }
}

@mixin filter-placeholder {
    color: $c-white;
    opacity: 0.5;
}
